*.lammps
*.code-workspace
CLAUDE.md
GEMINI.md
*.mp4
*.png
*.lammpstrj
/src/__pycache__
/.vscode
/phys
/src/visualization
/src/configs/config.json
/data
/src/NNIP/__pycache__/
/src/NNIP/logs
/src/NNIP/dft_scratch
/src/NNIP/plots
/src/NNIP/tmp_nn
/src/MD/__pycache__
/src/configs/*.json
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out